<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932868960-3l13i30k8ntntu98pu8t6gpkvuain4i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932868960-3l13i30k8ntntu98pu8t6gpkvuain4i7</string>
	<key>API_KEY</key>
	<string>AIzaSyCjemXJgK14cTHipabYtVGeuDSitkZsbaU</string>
	<key>GCM_SENDER_ID</key>
	<string>932868960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.watermelon.market.app</string>
	<key>PROJECT_ID</key>
	<string>watermelon-47200</string>
	<key>STORAGE_BUCKET</key>
	<string>watermelon-47200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:932868960:ios:ecb25256e74d5fe0312405</string>
</dict>
</plist>
